<div class="container-fluid">
    <div class="row top-row">
        <div class="col-3">
            <mat-form-field class="form-field-example" appearance="outline">
                <mat-label>Financial Year</mat-label>
                <mat-select value="2023-2024">
                    <mat-option value="2022-2023">2022-2023</mat-option>
                    <mat-option value="2023-2024">2023-2024</mat-option>
                </mat-select>
            </mat-form-field>
        </div>
        <div class="col-3">
            <mat-form-field class="form-field-example" appearance="outline">
                <mat-label>Tax Regime Type</mat-label>
                <mat-select value="New" (selectionChange)='OnRigmeChange($event.value)'>
                    <mat-option value="Old">Old Regime</mat-option>
                    <mat-option value="New">New Regime</mat-option>
                </mat-select>
            </mat-form-field>
        </div>
    </div>

    <div class="row middle-row">
        <mat-accordion>
            <mat-expansion-panel (opened)="salaryPanelOpenState = true" (closed)="salaryPanelOpenState = false">
                <mat-expansion-panel-header class="custom-panel-header">
                    <mat-panel-title class="custom-panel-title">
                        Salary Structure
                    </mat-panel-title>
                    <mat-panel-description class="custom-panel-description">
                        Salary details of the user for the selected financial year
                    </mat-panel-description>
                </mat-expansion-panel-header>
                <div class="row top-row">
                    <form class="example-form" name="salaryform" [formGroup]="salaryDetails"
                        #formSalaryDirective="ngForm" (ngSubmit)="OnSalarySubmit(formSalaryDirective)">
                        <fieldset class="the-fieldset">
                            <legend class="the-legend">Base Components</legend>
                            <div class="row">
                                <div class="col-3">
                                    <mat-form-field class="form-field-example" appearance="outline">
                                        <mat-label>Basic Pay</mat-label>
                                        <input matInput type="number" autocomplete="off">
                                        <mat-icon matIconPrefix>currency_rupee</mat-icon>
                                    </mat-form-field>
                                </div>
                                <div class="col-3">
                                    <mat-form-field class="form-field-example" appearance="outline">
                                        <mat-label>Housing Rent Allowance</mat-label>
                                        <input matInput type="number" autocomplete="off">
                                        <mat-icon matIconPrefix>currency_rupee</mat-icon>
                                    </mat-form-field>
                                </div>
                                <div class="col-3">
                                    <mat-form-field class="form-field-example" appearance="outline">
                                        <mat-label>Leave Travel Allowance</mat-label>
                                        <input matInput type="number" autocomplete="off">
                                        <mat-icon matIconPrefix>currency_rupee</mat-icon>
                                    </mat-form-field>
                                </div>
                                <div class="col-3">
                                    <mat-form-field class="form-field-example" appearance="outline">
                                        <mat-label>Other Allowance</mat-label>
                                        <input matInput type="number" autocomplete="off">
                                        <mat-icon matIconPrefix>currency_rupee</mat-icon>
                                    </mat-form-field>
                                </div>
                            </div>
                        </fieldset>
                        <fieldset class="the-fieldset">
                            <legend class="the-legend">Other Components</legend>
                            <div class="row">
                                <div class="col-3">
                                    <mat-form-field class="form-field-example" appearance="outline">
                                        <mat-label>Gratuity</mat-label>
                                        <input matInput type="number" autocomplete="off">
                                        <mat-icon matIconPrefix>currency_rupee</mat-icon>
                                    </mat-form-field>
                                </div>
                                <div class="col-3">
                                    <mat-form-field class="form-field-example" appearance="outline">
                                        <mat-label>Employer PF</mat-label>
                                        <input matInput type="number" autocomplete="off">
                                        <mat-icon matIconPrefix>currency_rupee</mat-icon>
                                    </mat-form-field>
                                </div>
                                <div class="col-3">
                                    <mat-form-field class="form-field-example" appearance="outline">
                                        <mat-label>Bonus Pay</mat-label>
                                        <input matInput type="number" autocomplete="off">
                                        <mat-icon matIconPrefix>currency_rupee</mat-icon>
                                    </mat-form-field>
                                </div>
                                <div class="col-3">
                                    <mat-form-field class="form-field-example" appearance="outline">
                                        <mat-label>Variable Pay</mat-label>
                                        <input matInput type="number" autocomplete="off">
                                        <mat-icon matIconPrefix>currency_rupee</mat-icon>
                                    </mat-form-field>
                                </div>
                            </div>
                        </fieldset>

                        <div class="row btn-custom-row">
                            <div class="col">
                                <button mat-raised-button color="primary">Submit</button>
                            </div>
                        </div>
                    </form>
                </div>
            </mat-expansion-panel>
        </mat-accordion>
    </div>

    <div class="row middle-row" *ngIf="displayDiv">
        <mat-accordion>
            <mat-expansion-panel (opened)="investmentPanelOpenState = true" (closed)="investmentPanelOpenState = false">
                <mat-expansion-panel-header class="custom-panel-header">
                    <mat-panel-title class="custom-panel-title">
                        Investment Details
                    </mat-panel-title>
                    <mat-panel-description class="custom-panel-description">
                        Investment details of the user required for old tax regime
                    </mat-panel-description>
                </mat-expansion-panel-header>
                <div class="row top-row">
                    <form class="example-form" name="investmentform" [formGroup]="investmentDetails"
                        #formInvestmentDirective="ngForm" (ngSubmit)="OnInvestmentSubmit(formInvestmentDirective)">

                        <fieldset class="the-fieldset">
                            <legend class="the-legend">Exemption Under Section 10</legend>
                            <div class="row">
                                <div class="col-12">
                                    <label class="example-margin">Do you live in metros like Delhi, Mumbai, Kolkata
                                        or Chennai ? :</label>
                                    <mat-radio-group>
                                        <mat-radio-button value="Yes">Yes</mat-radio-button>
                                        <mat-radio-button value="No">No</mat-radio-button>
                                    </mat-radio-group>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-4">
                                    <mat-form-field class="form-field-example" appearance="outline">
                                        <mat-label>Total Rent Paid P.A.</mat-label>
                                        <input matInput type="number" autocomplete="off">
                                        <mat-icon matIconPrefix>currency_rupee</mat-icon>
                                    </mat-form-field>
                                </div>
                                <div class="col-4">
                                    <mat-form-field class="form-field-example" appearance="outline">
                                        <mat-label>Dearness Allowance</mat-label>
                                        <input matInput type="number" autocomplete="off">
                                        <mat-icon matIconPrefix>currency_rupee</mat-icon>
                                    </mat-form-field>
                                </div>
                                <div class="col-4">
                                    <mat-form-field class="form-field-example" appearance="outline">
                                        <mat-label>Exempted Amount</mat-label>
                                        <input matInput disabled>
                                        <mat-icon matIconPrefix>currency_rupee</mat-icon>
                                    </mat-form-field>
                                </div>
                            </div>
                        </fieldset>
                        <fieldset class="the-fieldset">
                            <legend class="the-legend">Deduction Under Chapter VI A</legend>
                            <fieldset class="the-fieldset">
                                <legend class="the-legend">Section 80C</legend>
                                <div class="row">
                                    <div class="col-4">
                                        <mat-form-field class="form-field-example" appearance="outline">
                                            <mat-label>EPF</mat-label>
                                            <input matInput type="number" autocomplete="off">
                                            <mat-icon matIconPrefix>currency_rupee</mat-icon>
                                        </mat-form-field>
                                    </div>
                                    <div class="col-4">
                                        <mat-form-field class="form-field-example" appearance="outline">
                                            <mat-label>PPF</mat-label>
                                            <input matInput type="number" autocomplete="off">
                                            <mat-icon matIconPrefix>currency_rupee</mat-icon>
                                        </mat-form-field>
                                    </div>
                                    <div class="col-4">
                                        <mat-form-field class="form-field-example" appearance="outline">
                                            <mat-label>NSC</mat-label>
                                            <input matInput type="number" autocomplete="off">
                                            <mat-icon matIconPrefix>currency_rupee</mat-icon>
                                        </mat-form-field>
                                    </div>
                                    <div class="col-4">
                                        <mat-form-field class="form-field-example" appearance="outline">
                                            <mat-label>LIC</mat-label>
                                            <input matInput type="number" autocomplete="off">
                                            <mat-icon matIconPrefix>currency_rupee</mat-icon>
                                        </mat-form-field>
                                    </div>
                                    <div class="col-4">
                                        <mat-form-field class="form-field-example" appearance="outline">
                                            <mat-label>Mutual Fund</mat-label>
                                            <input matInput type="number" autocomplete="off">
                                            <mat-icon matIconPrefix>currency_rupee</mat-icon>
                                        </mat-form-field>
                                    </div>
                                    <div class="col-4">
                                        <mat-form-field class="form-field-example" appearance="outline">
                                            <mat-label>Tuition Fee</mat-label>
                                            <input matInput type="number" autocomplete="off">
                                            <mat-icon matIconPrefix>currency_rupee</mat-icon>
                                        </mat-form-field>
                                    </div>
                                    <div class="col-4">
                                        <mat-form-field class="form-field-example" appearance="outline">
                                            <mat-label>Repayment Of Home Loan</mat-label>
                                            <input matInput type="number" autocomplete="off">
                                            <mat-icon matIconPrefix>currency_rupee</mat-icon>
                                        </mat-form-field>
                                    </div>
                                    <div class="col-4">
                                        <mat-form-field class="form-field-example" appearance="outline">
                                            <mat-label>Others</mat-label>
                                            <input matInput type="number" autocomplete="off">
                                            <mat-icon matIconPrefix>currency_rupee</mat-icon>
                                        </mat-form-field>
                                    </div>
                                    <div class="col-4">
                                        <mat-form-field class="form-field-example" appearance="outline">
                                            <mat-label>Total Investments</mat-label>
                                            <input matInput disabled>
                                            <mat-icon matIconPrefix>currency_rupee</mat-icon>
                                        </mat-form-field>
                                    </div>
                                </div>
                            </fieldset>
                            <fieldset class="the-fieldset">
                                <legend class="the-legend">Other Sections</legend>
                                <div class="row">
                                    <div class="col-4">
                                        <fieldset class="the-fieldset">
                                            <legend class="the-legend">Section 80CCD</legend>
                                            <div class="col-12">
                                                <mat-form-field class="form-field-example" appearance="outline">
                                                    <mat-label>NPS</mat-label>
                                                    <input matInput type="number" autocomplete="off">
                                                    <mat-icon matIconPrefix>currency_rupee</mat-icon>
                                                </mat-form-field>
                                            </div>
                                        </fieldset>
                                    </div>
                                    <div class="col-4">
                                        <fieldset class="the-fieldset">
                                            <legend class="the-legend">Section 80D</legend>
                                            <div class="col-12">
                                                <mat-form-field class="form-field-example" appearance="outline">
                                                    <mat-label>Mediclaim</mat-label>
                                                    <input matInput type="number" autocomplete="off">
                                                    <mat-icon matIconPrefix>currency_rupee</mat-icon>
                                                </mat-form-field>
                                            </div>
                                        </fieldset>
                                    </div>
                                    <div class="col-4">
                                        <fieldset class="the-fieldset">
                                            <legend class="the-legend">Section 80DD</legend>
                                            <div class="col-12">
                                                <mat-form-field class="form-field-example" appearance="outline">
                                                    <mat-label>Disabled Dependent</mat-label>
                                                    <input matInput type="number" autocomplete="off">
                                                    <mat-icon matIconPrefix>currency_rupee</mat-icon>
                                                </mat-form-field>
                                            </div>
                                        </fieldset>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-4">
                                        <fieldset class="the-fieldset">
                                            <legend class="the-legend">Section 80DDB</legend>
                                            <div class="col-12">
                                                <mat-form-field class="form-field-example" appearance="outline">
                                                    <mat-label>Medical Expenses</mat-label>
                                                    <input matInput type="number" autocomplete="off">
                                                    <mat-icon matIconPrefix>currency_rupee</mat-icon>
                                                </mat-form-field>
                                            </div>
                                        </fieldset>
                                    </div>
                                    <div class="col-4">
                                        <fieldset class="the-fieldset">
                                            <legend class="the-legend">Section 80E</legend>
                                            <div class="col-12">
                                                <mat-form-field class="form-field-example" appearance="outline">
                                                    <mat-label>Interest On Education Loan</mat-label>
                                                    <input matInput type="number" autocomplete="off">
                                                    <mat-icon matIconPrefix>currency_rupee</mat-icon>
                                                </mat-form-field>
                                            </div>
                                        </fieldset>
                                    </div>
                                    <div class="col-4">
                                        <fieldset class="the-fieldset">
                                            <legend class="the-legend">Section 80EE</legend>
                                            <div class="col-12">
                                                <mat-form-field class="form-field-example" appearance="outline">
                                                    <mat-label>Housing Loan Interest</mat-label>
                                                    <input matInput type="number" autocomplete="off">
                                                    <mat-icon matIconPrefix>currency_rupee</mat-icon>
                                                </mat-form-field>
                                            </div>
                                        </fieldset>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-4">
                                        <fieldset class="the-fieldset">
                                            <legend class="the-legend">Section 80G</legend>
                                            <div class="col-12">
                                                <mat-form-field class="form-field-example" appearance="outline">
                                                    <mat-label>Donations</mat-label>
                                                    <input matInput type="number" autocomplete="off">
                                                    <mat-icon matIconPrefix>currency_rupee</mat-icon>
                                                </mat-form-field>
                                            </div>
                                        </fieldset>
                                    </div>
                                    <div class="col-4">
                                        <fieldset class="the-fieldset">
                                            <legend class="the-legend">Section 80TTA</legend>
                                            <div class="col-12">
                                                <mat-form-field class="form-field-example" appearance="outline">
                                                    <mat-label>Savings/Deposits Interest</mat-label>
                                                    <input matInput type="number" autocomplete="off">
                                                    <mat-icon matIconPrefix>currency_rupee</mat-icon>
                                                </mat-form-field>
                                            </div>
                                        </fieldset>
                                    </div>
                                    <div class="col-4">
                                        <fieldset class="the-fieldset">
                                            <legend class="the-legend">Section Total</legend>
                                            <div class="col-12">
                                                <mat-form-field class="form-field-example" appearance="outline">
                                                    <mat-label>Total Investments</mat-label>
                                                    <input matInput disabled>
                                                    <mat-icon matIconPrefix>currency_rupee</mat-icon>
                                                </mat-form-field>
                                            </div>
                                        </fieldset>
                                    </div>
                                </div>
                            </fieldset>
                        </fieldset>

                        <div class="row btn-custom-row">
                            <div class="col">
                                <button mat-raised-button color="primary">Submit</button>
                            </div>
                        </div>
                    </form>
                </div>
            </mat-expansion-panel>
        </mat-accordion>
    </div>
</div>