<h2 mat-dialog-title class="text-center modal-title mat-elevation-z6" color="primary">Table Add/Edit</h2>

<mat-dialog-content [formGroup]="form">
    <div class="example-container">
        <mat-form-field hidden>
            <mat-label>Id</mat-label>
            <input matInput placeholder="Id" formControlName="Id" disable>
            <mat-error *ngIf="this.form.get('Id').hasError('required')">Id value is mandatory</mat-error>
        </mat-form-field>
        <mat-form-field>
            <mat-label>Table Name</mat-label>
            <input matInput placeholder="Table Name" formControlName="TableName" autocomplete="off">
            <mat-error *ngIf="this.form.get('TableName').hasError('required')">Table name is mandatory</mat-error>
        </mat-form-field>
        <!-- <mat-form-field>
            <mat-label>Financial Year</mat-label>
            <input matInput placeholder="Financial Year" formControlName="financialyear"  autocomplete="off">
            <mat-error *ngIf="this.form.get('financialyear').hasError('required')">Year is mandatory</mat-error>
        </mat-form-field> -->
        <mat-form-field>
            <mat-label>Financial Year</mat-label>
            <mat-select placeholder="Financial Year" formControlName="FinancialYear">
                <mat-option [value]="0">Select Year</mat-option>
                <mat-option *ngFor="let item of financialYears" [value]="item.Id">{{item.Year}}</mat-option>
            </mat-select>
            <mat-error *ngIf="this.form.get('FinancialYear').hasError('required') || this.form.get('FinancialYear').value == 0">Year is mandatory</mat-error>
        </mat-form-field>
    </div>
</mat-dialog-content>

<mat-dialog-actions align="center" class="mat-elevation-z8">
    <button mat-raised-button (click)="close()">Close</button>
    <button mat-raised-button color="primary" (click)="save()" [disabled]="!form.valid">Save</button>
</mat-dialog-actions>
