<h2 mat-dialog-title class="text-center modal-title mat-elevation-z6" color="primary">Delete Confirmation !</h2>

<mat-dialog-content>
    <div class="example-container text-center">
        Are You Sure You Want To Delete This Item ?
    </div>
</mat-dialog-content>

<mat-dialog-actions align="center" class="mat-elevation-z8">
    <button mat-raised-button (click)="cancel()">Cancel</button>
    <button mat-raised-button color="primary" (click)="confirm()">Confirm</button>
</mat-dialog-actions>
